<div class="col-xs-12">
  <div class="input-group">
    <input
      [class.editable-field]="edit"
      [formControl]="inputField"
      [readonly]="!edit"
      autocomplete="off"
      class="form-control"
      id="appendedInputButton"
      size="16"
      type="text">
    <span class="input-group-append">
                  <button class="btn btn-secondary" type="button"><i class="cui-dashboard"></i></button>
                </span>
  </div>
  <div (clickedOutside)="clickOutside()" *ngIf="isDropdownVisible" appClickOutside>
    <div *ngFor="let result of filterResult" class="list-group">
      <a (click)="onDropdownItemClick(result)" class="list-group-item search-drop-down">{{result[displayName]}}</a>
    </div>
  </div>
</div>



