<div [ngClass]="metadata.size? metadata.size : ''" class="form-group">
  <label [for]="metadata.name">{{metadata.label}}</label>
  <div class="input-group">
    <input
      [class.editable-field]="edit"
      [formControl]="inputField"
      [readonly]="!edit"
      autocomplete="off"
      class="form-control"
      [id]="metadata.name"
      size="16"
      type="text">
    <span *ngIf="!edit" class="input-group-append">
                  <button class="btn btn-secondary" type="button"><i class="cui-dashboard"></i></button>
                </span>
  </div>
  <div (clickedOutside)="clickOutside()" *ngIf="isDropdownVisible" appClickOutside>
    <div *ngFor="let result of filterResult" class="list-group">
      <a (click)="onDropdownItemClick(result)" class="list-group-item search-drop-down">
        <h6>{{getReferenceHeader(result)}}</h6>
        <p *ngFor="let textField of metadata.referenceItem.fields">{{result[textField]}}</p>
      </a>
    </div>
  </div>
</div>



