<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <form (ngSubmit)="onFormSubmit()" [formGroup]="form" class="form-horizontal">
          <div class="card-header">
            <strong>{{label}}</strong>
            <!--          <small>Details</small>-->
            <span class="pull-right">
              <button
                (click)="editMode()"
                *ngIf="!edit && isEditable"
                class="btn btn-secondary btn-sm"><i class="cui-pencil icons"></i>
              </button>
            </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div *ngFor="let inputField of fields;let i = index">
                <div [ngClass]="inputField.size? inputField.size : ''" class="form-group input-field">
                  <label for="{{inputField.name}}">{{inputField.label}}</label>
                  <!-- INPUT FIELD -->
                  <div *ngIf="inputField.type === 'input'">
                    <input [class.editable-field]="edit"
                           [formControlName]="inputField.name"
                           [readonly]="!edit"
                           class="form-control"
                           id="{{inputField.name}}"
                           type="text">
                    <span class="invalid-feedback">{{getErrorMessage(inputField.name)}}</span>
                  </div>

                  <!-- REFERENCE FIELD -->
                  <div *ngIf="inputField.type === 'reference'">
                    <app-reference-field
                      [edit]="edit"
                      [metadata]="inputField"
                      [parentRecord]="record"
                      [datasource]="inputField.targetDatasource"
                      id="referenceField"></app-reference-field>

                    <!--                    <div class="input-group">-->
                    <!--                      <input id="appendedInputButton" class="form-control" size="16" type="text">-->
                    <!--                      <span class="input-group-append">-->
                    <!--                  <button class="btn btn-secondary" type="button"><i class="cui-dashboard"></i></button>-->
                    <!--                    </span></div>-->

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div *ngIf="edit">
              <button
                [disabled]="form.invalid"
                class="btn btn-sm btn-success"
                type="submit">
                Save
              </button>
              <button (click)="onButtonReset()"
                      class="btn btn-sm btn-danger"
                      type="type">
                Cancel
              </button>
            </div>
          </div>

        </form>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <!--/.row-->

</div>
